<!DOCTYPE html>
<html>
  <head>
    <title>{% i18n site-title %} - {{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% style "/content/stylesheet.css" %}
    {% block extra-headers %}
    {% endblock %}
  </head>
  <body>
    <header class="wiki">
      <!-- navbar -->
      <div id="nav">
        <img id="nav-icon" src="{{servlet-context}}/img/three-lines.png" alt="Menu"/>
        <menu id="nav-menu">
          {% if admin %}
          <li class="{{edit-users-selected}}"><a href="{{servlet-context}}/edit-users">{% i18n edit-users-link %}</a></li>
          {% endif %}
          {% if user %}
          <li class="{{upload-selected}}"><a href="upload">{% i18n file-upload-title %}</a></li>
          <li class="{{passwd-selected}}"><a href="passwd">{% i18n change-pass-link %}</a></li>
          <li class="user" id="user">{% i18n logged-in-as}} {{user}}</li>
          <li class="{{auth-selected}}"><a href="{{servlet-context}}/auth">{% i18n logout-link %}</a></li>
          {% endif %}
        </menu>
        <div id="phone-side-bar"  class="wiki">
            {{side-bar|safe}}
        </div>
      </div>
      <h1>{% i18n site-title %} - {{title}}</h1>
      <div id="header">
        {{header|safe}}
      </div>
      {% if message %}
      <div id="message">
        <p class="message">{{message}}</p>
      </div>
      {% endif %}
      {% if error %}
      <div id="error">
        <p class="error">{{error}}</p>
      </div>
      {% endif %}
    </header>

    <div id="side-bar"  class="wiki">
        {{side-bar|safe}}
    </div>
    <div id="main-container" class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- div id="twitter" class="container">
      <a class="twitter-timeline" href="https://twitter.com/functional_sc?ref_src=twsrc%5Etfw">Tweets by functional_sc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div -->
          </body>
</html>
